@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

/* hide down arrow on mobile screens */
.hero_arrow {
  display:none;
}

@media only screen and (min-width: 768px) {
.hero_arrow {
  display: inline-block;
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
}

#down-arrow:hover {
  animation: bounce 1s;
}
}
