@keyframes bounce {
  0%,
  20%,
  60%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

/* hide down arrow on mobile screens */
.hero_arrow {
  display:none;
}

@media only screen and (min-width: 768px) {
.hero_arrow {
  display: inline-block;
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
}

#down-arrow:hover {
  animation: bounce 1s;
}
}

.img-container {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  color: #FFF;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;
}

.img-container:hover .overlay {
	opacity: 0.9;
}


